.card1{
    width: 200px;
    height: 285px;
    background-color: rgba(255, 154, 2, 0.11);
    background-image: url(img/cards.svg);
    background-position: 194px;
    border: solid black 2px;
    float: left;
    margin-left: 2px;
}

.card2{
    width: 200px;
    height: 285px;
    background-color: rgba(141, 2, 255, 0.11);
    background-image: url(img/cards.svg);
    background-position: 10px -2364px;
    border: solid black 2px;
    float: left;
    margin-left: 2px;

}
.card3{
    width: 200px;
    height: 285px;
    background-color: rgba(2, 91, 255, 0.11);
    background-image: url(img/cards.svg);
    background-position: 386px -1831px;
    border: solid black 2px;
    float: left;
    margin-left: 2px;

}
.card4{
    width: 200px;
    height: 285px;
    background-color: rgba(2, 255, 116, 0.11);
    background-image: url(img/cards.svg);
    background-position: -184px -9765px;
    border: solid black 2px;
    float: left;
    margin-left: 2px;

}
.card5{
    width: 200px;
    height: 285px;
    background-color: rgba(255, 32, 2, 0.11);
    background-image: url(img/cards.svg);
    background-position: 6px -10027px;
    border: solid black 2px;
    float: left;
    margin-left: 2px;

}